<title>Ajout personnel - IT Management</title>

{%extends "index.html" %}

{%block content %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Ajouter du personnel</h1>
        </div>

        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    {% if request.user.is_superuser %}

                    <div class="alert alert-success">
                        <strong>Attention !</strong> Vous êtes sur le point d'ajouter du personnel.
                    </div>

                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="li_button">
                <button type="submit" class="btn btn-success">Créer</button>
                </form>
                <a href="{% url 'personnel' %}"><button class="btn btn-primary">Retour sur le site</button></a>
            </div>
        </div>

                    {% else %}
                
                    <p class="card-text">Vous devez être administrateur pour modifier ou supprimer du personnel.</p>
                    <a href="{% url 'personnel' %}"><button class="btn btn-primary">Retour sur le site</button></a>
                
                    {% endif %}
        
        </div>
    </div>

    <style>
        main{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    </style>

{% endblock %}