<title>Ajout personnel - IT Management</title>

{%extends "index.html" %}

{%block content %}

    {% if request.user.is_superuser %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Créer</button>
    </form>

    {% load static %}
    <a href="{% url 'personnel' %}"><img src="{% static 'images/retour.png' %}" height="50px" width="50px"></a>
    <a href="{% url 'personnel' %}"><p>Retour sur le site.</p></a>
    <style>
        main{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    </style>

    {% else %}

    <p>Vous devez être administrateur pour modifier ou supprimer les machines.</p>
    {% load static %}
    <a href="{% url 'personnel' %}"><img src="{% static 'images/retour.png' %}" height="50px" width="50px">
        <p>Retour sur le site.</p></a>

    {% endif %}

{% endblock %}