<title>Detail du Réseau - IT Management</title>

{% extends "index.html" %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Nom : {{ reseau.nom }}</h1>    
        </div>

        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <p class="card-text"><strong>Id : </strong>{{ reseau.id }}</p>
                    <p class="card-text"><strong>Adresse : </strong>{{ reseau.adresse_ip }}</p>
                    <p class="card-text"><strong>Masque : </strong>{{ reseau.masque }}</p>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="li_button">
                <a href="{% url 'modifier_reseau' reseau.id %}"><button class="btn btn-warning">Modifier le reseau</button></a>
                <a href="{% url 'supprimer_reseau' reseau.id %}"><button class="btn btn-danger">Supprimer le reseau</button></a>
            </div>   
        </div>  
    </div>


{% endblock %}