<title>Detail de Machine - IT Management</title>

{% extends "index.html" %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Nom : {{ machine.nom }}</h1>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <p class="card-text"><strong>Id : </strong>{{ machine.id }}</p>
                    <p class="card-text"><strong>Etat : </strong>
                    {% if machine.etat == 'Online' %}
                    {% load static %}
                    <td><img src="{% static 'images/bouton_vert.png' %}" width="15px" height="15px">
                        {{ machine.etat }}</td>
                    {% else %}
                    <td><img src="{% static 'images/bouton_rouge.png' %}" width="15px" height="15px">
                        {{ machine.etat }}</td>
                    {% endif %}
                    </p>
                    <p class="card-text"><strong>Nom : </strong> {{ machine.nom }}</p>
                    <p class="card-text"><strong>Réseau associé : </strong>{{ machine.reseau_assoc }}</p>
                    <p class="card-text"><strong>Adresse IP : </strong>{{ machine.adresse_ip }}</p>
                    <p class="card-text"><strong>Masque : </strong>{{ machine.masque }}</p>
                    <p class="card-text"><strong>Date de maintenace : </strong>{{ machine.maintenance_date }}</p>
                    <p class="card-text"><strong>Type : </strong>{{ machine.mach }}</p>
                    <p class="card-text"><strong>Nom de l'utilisateur associé : </strong>{{ machine.mach }}</p>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="li_button">
                <a href="{% url 'modifier_machine' machine.id %}"><button class="btn btn-warning">Modifier la machine</button></a>
                <a href="{% url 'supprimer_machine' machine.id %}"><button class="btn btn-danger">Supprimer la machine</button></a>
            </div>
        </div>
    </div>

    <style>
        tr td img{
            margin:5px;
        }
    </style>

{% endblock %}