<title>Detail du Personnel - IT Management</title>

{% extends "index.html" %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Nom : {{ personnel.nom }}</h1>
        </div>

        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <p class="card-text"><strong>Nom : </strong>{{ personnel.nom }}</p>
                    <p class="card-text"><strong>Prenom : </strong>{{ personnel.prenom }}</p>
                    <p class="card-text"><strong>Id : </strong>{{ personnel.id }}</p>
                    <p class="card-text"><strong>Adresse Mail : </strong>{{ personnel.mail }}</p>
                </div>
            </div>
        </div>


        <div class="card-footer">
            <div class="li_button">
                <a href="{% url 'modifier_personnel' personnel.id %}"><button class="btn btn-warning">Modifier du Personel</button></a>
                <a href="{% url 'supprimer_personnel' personnel.id %}"><button class="btn btn-danger">Supprimer du Personel</button></a>
            </div>
        </div>
    </div>

{% endblock %}
