<title>Liste Machines - IT Management</title>

{% extends "index.html" %}

{% block content %}

    <style>
        tr td img{
            margin-right:5px;
        }
    </style>

    <h1>Liste des machines</h1>
    {% if machine %}
    <div class="tableau">
        <table class="table">
            <thead>                  
                <tr>
                    <th>ID</th>
                    <th>Etat</th>
                    <th>Nom</th>
                    <th>Personnel associé</th>
                    <th>Adresse IPv4</th>
                    <th>Masque</th>
                    <th>Date de dernière maintenance</th>
                    <th>Type de machine</th>
                    <th>Détails</th>
                </tr>
            </thead>
            <tbody>
            {% for machine in machine %}

                <tr>
                    <td>{{ machine.id }}</td>
                    {% if machine.etat == 'Online' %}
                        {% load static %}
                        <td><img src="{% static 'images/bouton_vert.png' %}" width="15px" height="15px">
                            {{ machine.etat }}</td>
                    {% else %}
                        <td><img src="{% static 'images/bouton_rouge.png' %}" width="15px" height="15px">
                            {{ machine.etat }}</td>
                    {% endif %}
                    <td>{{ machine.nom }}</td>
                    <td>{{ machine.personnel_assoc }}</td>
                    <td>{{ machine.adresse_ip }}</td>
                    <td>{{ machine.masque }}</td>
                    <td>{{ machine.maintenance_date }}</td>
                    <td>{{ machine.mach }}</td>
                    <td><a href="{% url 'detail_machine' machine.id %}"><button class="btn btn-info">Accéder aux détails</button></a></td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>Il n'y a pas de machine.</p>
    {% endif %}

    <div class="li_button">
        <a href="{% url 'ajout_machine'%}"><button class="btn btn-success">Ajouter une machine</button></a>
    </div>

{% endblock %}