<title>Liste Machines - IT Management</title>

{% extends "index.html" %}

{% block content %}
    <h1>Liste des machines</h1>
    {% if machine %}
        <table class="table">
            <thead>                  
                <tr>
                    <th>ID de la machine</th>
                    <th>Nom de la machine</th>
                    <th>Date de la maintenance</th>
                    <th>Type de la machine</th>
                    <th>Détails</th>
                </tr>
            </thead>
                <tbody>
            {% for machine in machine %}

                  <tr>
                    <td>{{ machine.id }}</td>
                    <td>{{ machine.nom }}</td>
                    <td>{{ machine.maintenance_date }}</td>
                    <td>{{ machine.mach }}</td>
                    <td><a href="{% url 'machine_detail' machine.id %}"><button class="button_detail">Accéder aux détails</button></a></td>
                  </tr>

            {% endfor %}
                </tbody>
              </table>
    {% else %}
        <p>Il n'y a pas de machine.</p>
    {% endif %}
{% endblock %}