<title>Liste Personnel - IT Management</title>

{% extends "index.html" %}

{% block content %}
    <h1>Liste du personnel</h1>
    {% if personnel %}
    <div class="tableau">
        <table class="table">
            <thead>                  
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>ID</th>
                    <th>Machine associée</th>
                    <th>Détails</th>
                </tr>
            </thead>
            <tbody>
                {% for personnel in personnel %}
                <tr>
                    <td></a>{{ personnel.nom }}</td>
                    <td>{{ personnel.prenom }}</td>
                    <td>{{ personnel.id }}</td>
                    <td>{{ personnel.machine_id }}</td>
                    <td><a href="{% url 'detail_personnel' personnel.id %}"><button class="button_detail">Accéder aux détails</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>Il n'y a pas de personnel.</p>
    {% endif %}

    <div class="li_button">
        <a href="{% url 'ajout_personnel'%}"><button class="button_ajout">Ajouter du personnel</button></a>
    </div>
    
{% endblock %}