<title>Liste Personnel - IT Management</title>

{% extends "index.html" %}

{% block content %}
    <h1>Liste du personnel</h1>
    {% if personnel %}
    <table class="table">
        <thead>                  
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            {% for personnel in personnel %}
            <tr>
                <td>{{ personnel.nom }}</td>
                <td>{{ personnel.prenom }}</td>
                <td>{{ personnel.id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Il n'y a pas de personnel.</p>
    {% endif %}
{% endblock %}