<title>Login - IT Management</title>

{% extends "index.html" %}

{% block content %}

    <div class="card text-center">
        <div class="card-header">
            <h1 class="card-title">Page de connexion</h1>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <p class="card-text"> {{ form.as_p }} </p>
                <button type="submit" class="btn btn-success">Se connecter</button>
            </form>
            <a href="{% url 'index' %}"><button class="btn btn-primary">Retour sur le site</button></a>

        </div>

    </div>



{% endblock %}