<title>Modifier Réseau - IT Management</title>

{%extends "index.html" %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h1 class="card-title">Modification de réseaux</h1>
    </div>

    <div class="card-body">
        <div class="card">
            <div class="card-body">
                {% if request.user.is_superuser %}

                <div class="alert alert-warning">
                    <strong>Attention !</strong> Vous êtes sur le point de modifer un réseau.
                </div>
                
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
            </div>
        </div>
    </div>

    <div class="card-footer text-center">

        <div class="li_button">
            <button type="submit" class="btn btn-warning">Modifier</button>
            <a href="{% url 'reseau' %}"><button class="btn btn-primary">Annuler</button></a>
        </div>

                </form>

    </div>

    {% else %}

    <p>Vous devez être administrateur pour modifier ou supprimer des réseaux.</p>
    <a href="{% url 'reseau' %}"><button class="btn btn-primary">Retour sur le site</button></a>

    {% endif %}

    <style>
        main{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    </style>

{% endblock %}