<title>Modifier machine - IT Management</title>

{%extends "index.html" %}

{% block content %}

    {% if request.user.is_superuser %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Modifier</button>
    </form>

    {% else %}

    <p>Vous devez être administrateur pour modifier ou supprimer les machines.</p>
    {% load static %}
    <a href="{% url 'machine' %}"><img src="{% static 'images/retour.png' %}" height="50px" width="50px">
        <p>Retour sur le site.</p></a>

    {% endif %}

{% endblock %}