<title>Detail du Personnel - IT Management</title>

{% extends "index.html" %}

{% block content %}

    <h1>Nom : {{ personnel.nom }}</h1>
    <p><strong>Nom</strong> : {{ personnel.nom }}</p>
    <p><strong>Prenom</strong> : {{ personnel.prenom }}</p>
    <p><strong>Id</strong> : {{ personnel.id }}</p>

    <div class="li_button">
        <a href="{% url 'modifier_personnel' personnel.id %}"><button class="button_modif">Modifier le Personel</button></a>
        <a href=""><button class="button_sup">Supprimer le Personel</button></a>
    </div>
{% endblock %}