<title>Supprimer machine - IT Management</title>

{% extends "index.html" %}

{% block content %}
    <div class="card text-center">
        <div class="card-body">
            {% if request.user.is_superuser %}

            <div class="alert alert-danger">
                <strong>Attention !</strong> Vous êtes sur le point de supprimer une machine.
            </div>
        
            <p>Voulez-vous vraiment supprimer la machine ?</p>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Oui, supprimer</button>
            </form>
        
            <a href="{% url 'machine' %}"><button class="btn btn-primary">Non, retour</button></a>
        
        
            <style>
                main{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                }
            </style>
        
            {% else %}
        
            <p>Vous devez être administrateur pour modifier ou supprimer les machines.</p>
            <a href="{% url 'machine' %}"><button class="btn btn-primary">Retour sur le site</button></a>
        
            {% endif %}
        
        </div>
    </div>


{% endblock %}



