<title>Supprimer machine - IT Management</title>

{% extends "index.html" %}

{% block content %}

    {% if request.user.is_superuser %}

    <p>Voulez-vous vraiment supprimer {{ machine.nom }} ?</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Oui, supprimer</button>
    </form>

    {% load static %}
    <a href="{% url 'machine' %}"><img src="{% static 'images/retour.png' %}" height="50px" width="50px"></a>
    <a href="{% url 'machine' %}"><p>Retour sur le site.</p></a>
    <style>
        main{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    </style>

    {% else %}

    <p>Vous devez être administrateur pour modifier ou supprimer les machines.</p>
    {% load static %}
    <a href="{% url 'machine' %}"><img src="{% static 'images/retour.png' %}" height="50px" width="50px">
        <p>Retour sur le site.</p></a>

    {% endif %}

{% endblock %}



