<!DOCTYPE html>
<html>
<head>
    <title>Acceuil - IT Management</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> <!-- ajout bootstrap css-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- ajout bootstrap js-->
    <link rel="icon" type="image/x-icon" href="{% static 'images/rtfavicon.png' %}" />
</head>

<body>
  <header>
    {% block menu %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">IT Management</a>
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/rtdev.png' %}" class="img-fluid" alt="Logo rtdev"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'machine' %}">Machines</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'personnel' %}">Personnel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'reseau' %}">Réseaux</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'recherche' %}"><button class="btn btn-outline-success">Rechercher</button></a>
            </li>
            <li class="nav-item">
              <a href="{% url 'compte' %}"><button class="button_compte">Votre compte</button></a>
            </li> 
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}

  </header>

  <main>
  {% block content %}

  <style>
    main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    p{
      padding: 20px 0px;
    }
  </style>

  <div class="card text-center">
    <div class="card-body">
      <h1 class="card-title">Page d'Accueil</h1>
      <p class="card-text">Bienvenue ! Connectez-vous pour accéder à votre compte.</p>
      <a href="{% url 'login' %}"><button class="btn btn-success">Se connecter</button></a>
    </div>
  </div>

  {% endblock %}
  </main>
</body>

</html>